body {
    background-color: black;
    color: white;
}
nav {
    background-color: blue;
}
.navegacao {
    list-style-type: none;
}
.navegacao a {
    color: yellow;
    text-decoration: none;
}
h1, h2, h3 {
    color: yellow;
    margin-left: 10px;
}
p {
    margin-left: 10px;
}
footer {
    color: orange;
}
#sumario {
    color: cyan;
    text-align: justify;
    margin-left: 10px;
}
